@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root{
            --cream-color: #f3ece3;
            --matcha-color: #9e9957;
            --brown-color: #411D03;
            --gray-color: #989898;
            --h1-font: "Playfair Display";
            --h1-size: 48px;
            --h1-weight: 600;
            --h2-font: "Montserrat";
            --h2-size: 32px;
            --h2-weight: 600;
            --h3-font: "Montserrat";
            --h3-size: 22px;
            --h3-weight: 600;
            --button-font: "Montserrat";
            --button-size: 14px;
            --button-weight: 500;
            --p-font: "Montserrat";
            --p-size: 16px;
            --p-weight: 400;
            --nav-font: "Playfair Display";
            --nav-size: 16px;
            --nav-weight: 700;

        }

#creambg {
    background-color: "var(--cream-color)"
}

h1 {
    font-family: "var(--h1-font)";
    font-size: "var(--h1-size)";
    font-weight: "var(--h1-weight)";
}

h2 {
      font-family: var(--h2-font);
      font-size: var(--h2-size);
      font-weight: var(--h2-weight);
}

@layer utilities {
    .h3-style {
      font-family: var(--h3-font);
      font-size: var(--h3-size);
      font-weight: var(--h3-weight);
    }

    .button-style {
      font-family: var(--button-font);
      font-size: var(--button-size);
      font-weight: var(--button-weight);
    }

    .p-style {
      font-family: var(--p-font);
      font-size: var(--p-size);
      font-weight: var(--p-weight);
    }
}
